* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	background: inherit;
	font: inherit;
	border: none;
	cursor: pointer;
}

a {
	background: inherit;
	font: inherit;
	border: none;
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
}

ul {
	list-style: none;
}

input {
	border: none;
	color: inherit;
	background-color: inherit;
}