
:root {
	/* Font-family */
	--font-family-body: 'Barlow Condensed', sans-serif;
	--font-family-header: 'Bellefair', serif;

	/* Font-size */
	--font-size-large: 32px;
	--font-size-medium: 20px;
	--font-size-small: 16px;
	--font-size-body: 14px;

	/* Color */
	--color-01: #022723;
	--color-02: #d1eef6;
	--color-03: #fff;
	--color-04: #bebebe;
	--color-05: #1c1c1c;

	/* Gap */
		--margin-large: 1.5rem;
		--margin-medium: 1rem;
		--marign-small: 0.5rem;
		--padding-large: 1.5rem;
		--padding-medium: 1rem;
		--padding-small: 0.5rem;
		--gap-grid: 1rem;
}
