:root {
	/* Font-family */
	--font-family-body: 'Barlow Condensed', sans-serif;
	--font-family-header: 'Times New Roman', serif;

	/* Font-size */
	--font-size-large: 1.6rem;
	--font-size-medium: 1rem;
	--font-size-small: 0.8rem;
	--font-size-body: 0.7rem;
	--font-size-x-small: 0.6rem;

	/* Font-weight */
	--font-weight-bold: 700;
	--font-weight-medium: 500;
	--font-weght-regular: 400;

	/* Color */
	--color-01: #022723;
	--color-02: #d1eef6;
	--color-03: #fff;
	--color-04: #bebebe;
	--color-05: #1c1c1c;

	/* Gap */
	--margin-large: 1.5rem;
	--margin-medium: 1rem;
	--marign-small: 0.5rem;
	--padding-large: 1.5rem;
	--padding-medium: 1rem;
	--padding-small: 0.5rem;
	--padding-x-small: 0.25rem;
	--gap-grid: 1rem;

	/* Border */
	--border-radius: 0.5rem;
	--border: 1px solid #022723;
}
