.events__container {
	margin: var(--margin-medium);
	display: grid;
	gap: var(--margin-medium);
}

@media screen and (min-width: 768px){
	.events__container {
		grid-template-columns: repeat(3, 1fr);
	}
}

.events-preview__article {
	margin: var(--margin-large) var(--margin-medium);
}

.events-preview__header {
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-medium);
}

.events__header {
	font-family: var(--font-family-header);
}

.events-preview__text {
	font-size: var(--font-size-small);
}

.events__artist {
	display: flex;
	flex-direction: column;
}

.events__artist--hidden {
	display: none;
}

.events__info-container {
	display: flex;
	font-size: var(--font-size-small);
	border: var(--border);
	border-top: none;
}

.events__date-container {
	border-right: var(--border);
	width: 3rem;
	padding: 0 var(--padding-x-small);
	font-size: var(--font-size-small);
	min-width: 3rem;
}

.events__clock-icon {
	background-image: url(../../assets/icons/clock.svg);
	background-repeat: no-repeat;
	height: 0.757rem;
	width: 0.8rem;
	display: inline-block;
}

.events__buy-container {
	padding: 0 var(--padding-small);
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-left: var(--border);	
}

.events__buy-button {
	background-color: var(--color-01);
	color: var(--color-02);
	padding: var(--padding-small);
	text-transform: uppercase;
	justify-self: center;
}

.events__info {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: var(--padding-small);
	font-size: var(--font-size-x-small);
}

.events__artist-name {
	justify-items: left;
	font-size: var(--font-size-small);
}

.events__location-icon {
	background-image: url(../../assets/icons/location.svg);
	background-repeat: no-repeat;
	height: 0.76rem;
	width: 0.8rem;
	display: inline-block;
}

