.header {
	background-color: var(--color-02);
	padding: var(--padding-large) var(--padding-medium);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	color: var(--color-01);
	font-family: var(--font-family-header);
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
}

.header__navigation {
	position: absolute;
	transform: scaleX(0%);
	inset: 10% 0 0 0;
	z-index: 100;
	background: var(--color-03);
}

.header__navigation--visible {
	transform: scaleX(100%);
}

.header__navigation-burger-button {
	position: absolute;
	z-index: 1000;
	right: var(--margin-medium);
	background-image: url(../../assets/icons/burger-menu.svg);
	width: 2rem;
	height: 2rem;
	background-repeat: none;
	/* display: none; */
}

.header__navigation-exit-button {
	background-image: url(../../assets/icons/exit-menu.svg);
	width: 2rem;
	height: 2rem;
	background-repeat: none;
}

.header__navigation-element-button {
	width: 100%;
	text-align: left;
	padding: var(--padding-medium);
	border: 1px solid var(--color-04);
	font-family: var(--font-family-body);
	transition: all 300ms ease-in-out;
}

.header__navigation-element-button:hover {
	background-color: var(--color-04);
}
.header__navigation-element-button::after {
	margin-top: 0.3rem;
	content: '';
	position: absolute;
	background-image: url(../../assets/icons/arrow.svg);
	background-repeat: no-repeat;
	width: 1.5rem;
	height: 1rem;
	transform: rotate(-90deg);
	right: var(--margin-medium);
}
/* .header__navigation-list-container, 
.header__search-input, 
.header__search-button */
.header__search {
	margin: var(--margin-large) auto;
	border: 1px solid var(--color-04);
	border-radius: var(--border-radius);
	width: 50%;
	display: flex;
	align-items: center;
}

.header__search-input {
	width: 100%;
	padding: var(--padding-small);
}

.header__search-button {
	background-image: url(../../assets/icons/search.svg);
	background-repeat: no-repeat;
	width: 1.6rem;
	height: 1.2rem;
}

.header__heart {
	margin: 0 auto;
	background-image: url(../../assets/icons/heart.svg);
	background-repeat: no-repeat;
	width: 2.5rem;
	height: 2.5rem;
}